export(timeAggregate)
export(timeAggregateMonth)
export(timeStackTRMM)
export(trmm2date)
export(trmm2spi)
export(trmmCompose)
export(warpTrmm2Raster)
import(SPEI)
import(lubridate)
import(plyr)
import(raster)
import(stringr)
import(zoo)
